<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zenni Braintree Hosted Fields Demo</title>

  <!-- Include Jquery library -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

  <!-- Braintree Hosted Field SDK -->
  <script src="https://js.braintreegateway.com/web/3.71.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.71.0/js/hosted-fields.min.js"></script>

  <!-- Braintree client device collection scripts -->
  <script src="https://js.braintreegateway.com/web/3.71.0/js/data-collector.min.js"></script>

  <!-- Load the PayPal Checkout component. -->
  <script src="https://js.braintreegateway.com/web/3.71.0/js/paypal-checkout.min.js"></script>
</head>

<body>