<%- include('./partials/header') %>
<style>
  #hosted-fields-form > div {
    height: 2rem;
  }
</style>

<h1>Zenni Braintree Hosted Fields Demo</h1>

<div style="width: 100%;">
  <div style="width: 49%; border-bottom:solid black 1px; display: inline-block;">
  
    <!-- Form contianing input placeholders -->
    <form action="/" id="hosted-fields-form" method="post" autocomplete="off">
  
      <label for="cardholder-name">Cardholder Name</label>
      <div id="cardholder-name"></div>
      
      <label for="card-number">Card Number</label>
      <div id="card-number"></div>
    
      <label for="cvv">CVV</label>
      <div id="cvv"></div>
    
      <label for="expiration-date">Expiration Date</label>
      <div id="expiration-date"></div>
    
      <div id="checkout-message"></div>
    
      <input type="submit" value="Pay" disabled />
  
    </form>
  
    <br>
  </div>
  
  <div style="width: 49%; display: inline-block; text-align: center;">
    <h2>Mock Charge: $15.00 USD</h2>
    <h2>Mock Shipping Details:</h2>
    <p>Name: Leland Lazarus</p>
    <p>Country/Region: United States</p>
    <p>Address: 150 Alameda Del Prado</p>
    <p>City: Novato</p>
    <p>State: California</p>
    <p>Zip: 94949</p>
    <p>Phone: (415) 123-4567</p>
  </div>
</div>

<br>

<div style="width:50%;">

  <!-- Placeholder for PayPal button -->
  <div id="paypal-button"></div>

  <hr>
</div>

<br>

<div>
  <h2>Void Tx Form</h2>
  <!-- Form to test voiding a TX -->
  <form action="/void-tx" id="void-tx-form" method="post" autocomplete="off">
  
    <label for="transaction-id">Tx Id: </label>
    <input type="text" id="transaction-id" name="Transaction Id"><br><br>
  
    <input type="submit" value="Void" />
  
  </form>
</div>

<script type="text/javascript">
  var form = document.querySelector('#hosted-fields-form');
  var voidForm = document.querySelector('#void-tx-form')
  var submit = document.querySelector('input[type="submit"]');

  $.get('/generate_client_token').done(function(data) {
    let authToken = data;
    createBraintreeHostedFields(authToken);
  });

  function createBraintreeHostedFields(authToken) {
    if (braintree) {
      let deviceData;
      braintree.client.create({
        authorization: authToken
      }, function (clientErr, clientInstance) {
        if (clientErr) {
          console.error(clientErr);
          return;
        }
  
        // This example shows Hosted Fields, but you can also use this client instance to create additional components here, such as PayPal or Data Collector.
  
        // Create Data Collector:
        braintree.dataCollector.create({
          client: clientInstance,
          paypal: true
        }, function (err, dataCollectorInstance) {
          if (err) {
            // Handle error in creation of data collector
            console.log('deviceData error: ', err);
            return;
          }
          // At this point, you should access the dataCollectorInstance.deviceData value and provide it to your server
          deviceData = dataCollectorInstance.deviceData;
        });
  
        // Created Hosted Fields
        braintree.hostedFields.create({
          client: clientInstance,
          styles: {
            'input': {
              'font-size': '14px'
            },
            'input.invalid': {
              'color': 'red'
            },
            'input.valid': {
              'color': 'green'
            }
          },
          fields: {
            cardholderName: {
              container: '#cardholder-name',
              placeholder: 'Enter name...'
            },
            number: {
              selector: '#card-number',
              placeholder: '4111 1111 1111 1111'
            },
            cvv: {
              selector: '#cvv',
              placeholder: '123'
            },
            expirationDate: {
              selector: '#expiration-date',
              placeholder: '10/2022'
            }
          }
        }, function (hostedFieldsErr, hostedFieldsInstance) {
          if (hostedFieldsErr) {
            console.error(hostedFieldsErr);
            return;
          }
  
          submit.removeAttribute('disabled');
  
          form.addEventListener('submit', function (event) {
            event.preventDefault();
  
            hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
              if (tokenizeErr) {
                console.error(tokenizeErr);
                return;
              }
  
              // Send the nonce and device data to your server.
              $.ajax({
                type: 'POST',
                url: '/',
                data: {
                  'paymentMethodNonce': payload.nonce,
                  'deviceData': deviceData
                }
              }).done(function(result) {
                if (result.success) {
                  console.log('result: ', result);
                  alert('Transaction successful!\n\nClose alert to refresh checkout.');
                  window.location.replace('/');
                } else {
                  alert('Transaction failed!\n\nCheck log for more info.');
                  console.log(result);
                }
              });
            });
          }, false);
        });

        // Create a PayPal Checkout component.
        braintree.paypalCheckout.create({
          client: clientInstance
        }, function (paypalCheckoutErr, paypalCheckoutInstance) {

          // Stop if there was a problem creating PayPal Checkout. This could happen if there was a network error or if it's incorrectly configured.
          if (paypalCheckoutErr) {
            console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
            return;
          }

          // Load the PayPal JS SDK
          paypalCheckoutInstance.loadPayPalSDK({
            currency: 'USD',
            intent: 'capture'
          }, function () {
            paypal.Buttons({
              fundingSource: paypal.FUNDING.PAYPAL,

              createOrder: function () {
                return paypalCheckoutInstance.createPayment({
                  flow: 'checkout', // Required
                  amount: '15.00', // Required for checkout flow, optional for vault
                  currency: 'USD', // Required for checkout flow, optional for vault
                  intent: 'capture', // Required for checkout flow, optional for vault. Payment will be immediately submitted for settlement upon creating a transaction
                  displayName: 'Zenni Test Store',
                  enableShippingAddress: true,
                  shippingAddressEditable: false,
                  shippingAddressOverride: {
                    recipientName: 'Leland Lazarus',
                    line1: '150 Alameda Del Prado',
                    city: 'Novato',
                    countryCode: 'US',
                    postalCode: '94949',
                    state: 'CA',
                    phone: '(415) 123-4567'
                  }
                });
              },

              onApprove: function (data, actions) {
                return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                  // Send the nonce, device data, and orderID to your server.
                  let payPalData = JSON.stringify(data);
                  $.ajax({
                    type: 'POST',
                    url: '/paypal-checkout',
                    data: {
                      'paymentMethodNonce': payload.nonce,
                      'deviceData': deviceData,
                      'orderId': payPalData.orderID
                    }
                  }).done(function(result) {
                    if (result.success) {
                      console.log('result: ', result);
                      alert('Transaction successful!\n\nClose alert to refresh checkout.');
                      window.location.replace('/');
                    } else {
                      alert('Transaction failed!\n\nCheck log for more info.');
                      console.log(result);
                    }
                  });
                });
              },

              onCancel: function (data) {
                console.log('PayPal payment cancelled', JSON.stringify(data, 0, 2));
              },

              onError: function (err) {
                console.error('PayPal error', err);
              }
            }).render('#paypal-button').then(function () {
              // The PayPal button will be rendered in an html element with the ID
              // `paypal-button`. This function will be called when the PayPal button
              // is set up and ready to be used
              console.log('Paypal button has been rendered!');
            });
          });
        });
      
        // Handle Tx Void Submit
        voidForm.addEventListener('submit', function (event) {
          event.preventDefault();

          $.ajax({
            type: 'POST',
            url: '/void-tx',
            data: {
              'transactionId': $('#transaction-id').val()
            }
          }).done(function(result) {
            if (result.success) {
              console.log('result: ', result);
              alert('Transaction successfully voided!\n\nClose alert to refresh checkout.');
              window.location.replace('/');
            } else {
              alert('Transaction void failed!\n\nCheck log for more info.');
              console.log(result);
            }
          });
        });

      });
    }
  }

</script>

<%- include('./partials/footer') %>